boto
boto3
botocore
certifi
chardet
docopt
docutils
gensim
idna
jmespath
joblib
numpy
python-dateutil
requests
s3transfer
scipy
six
sklearn
smart-open
urllib3
tqdm
nltk
pandas
matplotlib
networkx
bs4
lxml
