boto
boto3
botocore
certifi
cupy-cuda100
chardet
docopt
docutils
idna
jmespath
joblib
python-dateutil
s3transfer
six
smart-open
urllib3
gensim==3.8.3
jinja2~=2.11.3
nltk~=3.6.2
pandas~=1.2.4
numpy~=1.20.2
matplotlib~=3.4.1
sklearn
scipy~=1.6.2
networkx~=2.5.1
bs4
requests~=2.25.1
tqdm~=4.60.0
requests_html
setuptools~=56.0.0
lxml~=4.6.3
torch~=1.9.0
