boto
boto3
botocore
certifi
cupy-cuda100
chardet
docopt
docutils
gensim
idna
jmespath
joblib
numpy
python-dateutil
requests
s3transfer
scipy
six
sklearn
smart-open
urllib3
tqdm
nltk
pandas
matplotlib
networkx
